* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    border: solid 2px green;
    height: 120px;
    background-color: aqua;
    width: 80%;
    margin: auto;
}

main {
    border: solid 2px silver;
    min-height: 400px;
    background-color: antiquewhite;
    width: 80%;
    margin: auto;
    display: flex;
}

footer {
    height: 50px;
    border: solid 2px green;
    width: 80%;
    margin: auto;
    background-color: aqua;
}

nav {
    flex: 30%;
    border: solid 3px sienna;
    background-color: azure;
}

nav a {
    display: block;
    background-color: silver;
    padding: 10px;
    border-bottom: 1px black solid;
    color: blue;
    text-decoration: none;
}

nav a:hover {
    color: black;
    background-color: turquoise;
}

.content {
    flex: 80%;
    border: solid 3px blue;
    min-height: 20px;
    padding: 20px;
}

article {
    border: solid 1px silver;
    padding: 10px;
    margin: 5px;
}

article .img {
    width: 100%;
    height: 200px;
    background-color: cadetblue;
}

@media screen and (min-width:1400px) {
    header {
        background-color: brown;
    }

    nav {
        background-color: wheat;
    }
    
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .content article {
       /* flex: 30%; */
        width: 25%;
    }
}



@media screen and (max-width:600px) {
    main {
        flex-direction: column;
    }
}